.container {
  display: flex;
  align-items: center;
}

.categories {
  border-radius: 8px;
  visibility: hidden;
  position: absolute;
  top: 40px;
  background-color: gray;
  padding: 0.5rem;
}

.container:hover .categories {
  visibility: visible;
}

.categories ul {
  margin: 1rem;
  font-size: medium;
  font-weight: 700;
}

.categories ul li {
  padding: 10px;
  margin: 3px 3px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.categories ul li:hover {
  background-color: #81d8d0;
  color: #f5f5f5;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem;
}

.container:hover .categories {
  visibility: visible;
}
