.category {
  background-color: #f5f5f5;
  margin: 0.5rem;
  border-radius: 6px;
  padding: 1rem;
  width: 80%;
}

.category:hover {
  background-color: #81d8d0;
}

.selected {
  background-color: #81d8d0;
}
