.card {
  margin: 1rem;
  border-radius: 6px;
  background-color: #f5f5f5;
  padding: 1rem;
  /* width: 180px; */
  width: 300px;
  min-height: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img {
  border-radius: 6px;
  width: 100%;
  height: auto;

  padding-bottom: 0.5rem;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 1rem; */
}
.title {
  font-size: large;
  font-weight: 700;
}
.price {
  font-size: medium;
  font-weight: 500;

  margin: 0.5rem;
}

.card * {
  width: 100%;
  box-sizing: border-box;
}
